*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./images/bg-pattern-top.svg) -400px no-repeat,
    url(./images/bg-pattern-top.svg) 700px no-repeat;
    background-position-y: -489px, 295px;
    background-size: 1000px, 1000px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}

img{
    display: block;
}
/* .toppattern{
    position: absolute;
    left: -185%;
    top: -170%;}
    .bottompattern{
        position: absolute;
        right: -171%;
        top: 55%;
    } */
    .Card__container{
        background-color: white;
        background-image: url(./images/bg-pattern-card.svg);
        background-size: 100% 140px;
        background-repeat: no-repeat;
        z-index: 999;
        position: relative;
        margin: 0 auto;
        display: grid;
        gap: 4em;  
    border-radius: 14px;
overflow: hidden;  }
    .Card__header{
        
    }
    .background__img{
        width: 100%;
       
    }
    .profile__img{
       /*  position: absolute;
    left: 34%;
    top: 58%; */
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    position: relative;
    top: 80%;
    }
    .wrapper{
        display: grid;
        gap: 1em;
       text-align: center;
       padding: 1.5em;
    }
    .insights{
        display: flex;
        justify-content: center;
        gap: 3em;
    }
    h1,h2{
        color: hsl(229, 23%, 23%);
    }
    .txt{
        color: hsl(227, 10%, 46%);
        font-weight: 400;
    }
    @media (max-width:600px){
        body{
            overflow: hidden;
        }
        .toppattern{
           
            left: -185%;
            top: -170%;}
            .bottompattern{
               
                right: -171%;
                top: 55%;
            }
    }